module.exports = {
  foldersData: {
    "C:/yogev/Projects/source-dir-test": {
      foldersAndFiles: ["test1/textfiletest1.txt"],
      destination: "C:yogev/Projects/dest/result1",
      options: {
        allDirectories: true
      }
    },
    "C:/yogev/Projects/source-dir-test/test4": {
      destination: "C:/yogev/Projects/dest/result2",
      options: {
        allFiles: true
      }
    },
    "C:/yogev/Projects/source-dir-test/test6": {
      foldersAndFiles: ["test5", "textfile.txt"],
      destination: "C:/yogev/Projects/dest/result2"
    }
  },
  //Destination folder to delete before the test operation.
  mainDest: "C:/yogev/Projects/dest",
  propsInDests: {
"result1": 7,
"result2": 4
  }
};
